{% extends 'accounts/main.html' %}

{% block title %}
    Products
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-body">
                <h5>Product</h5>
            </div>
            <div class="card card-body">
                <div class="table-responsive">

                    <table class="table table-sm">
                        <tr>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Price</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
